*, *::before, *::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: typewriter;
  src: url(../font/JMH_Typewriter.ttf);
}

@font-face {
  font-family: typewriter;
  src: url(../font/JMH_Typewriter-Bold.ttf);
  font-weight: bold;
}

html, body {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  overflow-y: scroll;
  overflow: hidden;
  font-family: typewriter;
  font-weight: normal;
  font-size: 16px;
  background-color: #c8c8c8;
}

a {
  text-decoration: none;
  color: #323232;
}

.menu-left {
  flex-direction: row;
  width: 23vw;
  height: 100vh;
  background-color: #afafaf;
  border-right: 0.2rem solid #4b4b4b;
}

.menu-top {
  height: 10vh;
  width: 100vw;
  background-color: #afafaf;
  /* display: none; */
}

.menu-top img {
  width: 70%;
  margin-left: 0.5rem;
  height: 70%;
  margin-top: 5%;
  display: none;
}

.hidden-links {
  width: 100vw!important;
  max-height: 15vh;
  display: none;
}

.img-menu-left {
  width: 75%;
  margin: 5% 12.5%;
  padding-top: 10%;
  border-bottom: 0.125rem solid #4b4b4b;
}

.menu-options {
  font-size: 1.2rem;
  display: flex;
  text-align: left;
  margin: 12.5% 12.5%;
  width: 75%;
  height: auto;
  background-color: #969696;
  text-decoration: none;
  padding: 1rem 0.5rem;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}

.menu-item {
  background-color: #afafaf;
  border: 2px #4b4b4b;
  border-style: ridge;
  display: flex;
  width: 90%;
  text-decoration: none;
  border-radius: 0.25rem;
  z-index: 10;
}

.menu-options :hover {
  background-color: #a0a0a0;
  text-decoration-line: underline;
  text-decoration-color: #ec1c24; 
}

.menu-item div {
  padding: 0.5rem;
  color: #323232;
  text-decoration: none;
}

.credit {
  vertical-align: bottom;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  padding-top: 35%;
}

.credit-text {
  color: #323232;
  width: 23vw;
  border-right: 0.2rem solid #4b4b4b;
  padding: 2rem;
  align-self: flex-end;
  text-align: center;
  text-decoration: none;
}

.credit-text a{
  color: #323232;
  text-decoration-line: underline;
  text-decoration-color: #ec1c24;
}

.header {
  color: #323232;
  width: 77vw;
  height: 3rem;
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem;
  background-color: #969696;
  text-decoration-line: underline;
  text-decoration-color: #ec1c24;
  font-weight: normal;
}

.content {
  background-color: #c8c8c8;
  color: #323232;
  padding: 1rem;
  width: 77vw;
  height: 94vh;
  text-align: center;
  overflow: auto;
}

.title {
  padding-top: 1rem;
  font-size: 1.2rem;
}

.product-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  align-content: start;
  gap: 4% 6%;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  padding: 2.5%;
  color: #323232;
}

.product-cell {
  width: 20%;
  height: 50%;
  border: 2px solid #4b4b4b;
  border-radius: 0.25rem;
  z-index: 1;
  background-color:  #afafaf;
  overflow: hidden;
  position: relative;
}

.product-cell :hover {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-color: #ec1c24;
}

.product-title {
  padding: 0.5rem;
  max-height: 20%;
  z-index: -1;
}

.product-info {
  padding: 0rem;
  text-align: center;
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 0.5rem;
}

.product-cell img {
  display: inline-flex;
  border-radius: 0.25rem;
  height: 62.5%;
  width: 60%;
  position: absolute;
  left: 20%;
  top: 25%;
}

.footer {
  height: 2vh;
  width: 77vw;
  color: #c8c8c8;
}

.content-product-page {
  background-color: #c8c8c8;
  color: #323232;
  padding: 1rem;
  width: 77vw;
  height: 94vh;
  text-align: center;
  overflow: hidden; 
}

.image-product-page-parant {
  width: 45%;

}

.image-product-page {
  width: 85%;
  height: 88%;
}

.product-page-info {
  margin-left: 5%;
  width: 50%;
}

.product-page-info p {
  font-size: 1.75rem;
  height: 15%;
}

.product-page-info-status-price {
  height: 15%;
  line-height: 2rem;
  text-align: center;
  margin-top: 10%;
}

.product-page-info-status-price button {
  margin-top: 2rem;
  font-size: 1.1rem;
  border: solid 2px #323232;
  border-radius: 5%;
  background-color: #ec1c24;
  padding: 1rem;
}

.product-page-info-status-price button:hover {
  cursor: pointer;
  background-color: #323232;
}

.product-page-info-summary {
  display: block;
  padding-top: 10%;
  height: 40%;
}

.product-page-info-summary-bottom {
  display: none;
}

.product-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shoppingcart-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  align-items: center;
}

.shoppingcart-field {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  align-items: center;
}

.shoppingcart-item {
  background-color: #afafaf;
  height: fit-content;
  height: 15vh;
  width: 70%;
  display: flex;
  margin: 0% 2.5% 0% 5%;
  position: relative;
  padding: 5px 0%;
  border: #323232 2px solid;
  border-radius: 5px;
}

.shoppingcart-info {
  width: 80%;
  position: relative;
}

.shoppingcart-subinfo {
  position: relative;
}

.shoppingcart-img {
  height: 100%;
  position: relative;
  width: auto;
}

.buttons {
  background-color: #afafaf;
  border: #323232 2px solid;
  width: 15%;
  padding: 10px;
  margin: 2%;
  position: relative;
  border-radius: 5px;
  max-height: 20vh;
  /* overflow: hidden; */
}

@media only screen and (max-width: 2750px){
  html {
    font-size: 21px;
  }
}

@media only screen and (max-width: 2500px){
  html {
    font-size: 20px;
  }
}

@media only screen and (max-width: 2250px){
  html {
    font-size: 19px;
  }
}

@media only screen and (max-width: 2000px){
  html {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1750px){
  html {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1500px){
  html {
    font-size: 16px;
  }
  
  .product-cell{
    width: 27%;
  }
}

@media only screen and (max-width: 1250px){
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1000px){
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 850px){
  html {
    font-size: 13px;
  }
  
  .product-cell{
    width: 40%;
  }
}

@media only screen and (max-width: 650px){
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 475px){
  html {
    font-size: 6px;
  }

  .menu-left {
    display: none;
    /* flex-direction: column!important; */
  }

  .title {
    font-size: 3rem;
  }

  .img-menu-left {
    display: none;
  }

  .menu-top {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
  }

  .menu-top a {
    color: #323232;
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    display: block;
    z-index: 5;
  }

  .menu-top a :hover {
    background-color: #969696;
  }

  .menu-top img {
    display: block;
  }

  .hidden-links {
    width: 100vw;
    z-index: 100;
    display: none;
    margin-top: 10vh;
  }

  .menu-item {
    width: 100%;
    border: none;
    padding: 2rem;
    border-bottom: solid 2px;
  }

  .hamburger-img {
    color: #323232;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    height: 95%;
    margin: 2.5%;
  }

  .header {
    display: none;
  }

  .content {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
    min-height: 75vh;
    max-height: 90vh;
    position: absolute;
    z-index: ;
    bottom: 0;
    right: 0;
  }

  .content::-webkit-scrollbar {
    display: none;
  }

  .content {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .credit {
    display: none;
  }

  /* .menu-options{
    width: 85%;
    display: none;
  } */

  .product-cell{
    width: 45%;
    height: 40%;
  }

  .product-cell img {
    height: 50%;
    width: 50%;
    top: 30%;
    left: 25%;
    z-index: -2;
  }

  .image-product-page-parant {
    width: 65%;
    margin: 17.5%;
    margin-top: 17%;
  }

  .content-product-page{
    width: 100vw;
    height: 100vh;
  }

  .product-page-info {
    width: 90%;
    height: 100%;
  }
  
  .product-page-info p {
    font-size: 3rem;
    height: 15%;
  }
  
  .product-page-info-status-price {
    height: 15%;
    line-height: 4rem;
    text-align: center;
    margin-top: 0%;
  }
  
  .product-page-info-status-price button {
    margin-top: 3rem;
    border: solid 2px #323232;
    border-radius: 5%;
    background-color: #ec1c24;
    padding: 1rem;
  }
  
  .product-page-info-summary {
    display: none;
  }
  
 .product-page-info-summary-bottom {
    display: block;
    border-top: 2px solid #323232;
    margin-top: 5%;
    padding-top: 5%;
    height: 40%;
  }

  .product-page {
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: auto;
  }
}


